{% extends 'layout.html' %}

{% block content %}
  <h1>News feed for group {{group.name}}</h1>

  <div class="posts">
  {% for user in friends %}
    <div class="media">
      <a class="media-left" href="#">
        <img src="{{ user.avatar_url }}">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="{% url 'profile' user.user.username %}">
          {{ user.user.username }}
          </a>
        </h4>
      </div>
    </div>
  {% endfor %}
  {% for user in non_friends %}
    <div class="media">
      <a class="media-left" href="#">
        <img src="{{ user.avatar_url }}">
      </a>
      <div class="media-body">
        <h4 class="media-heading">
          <a href="{% url 'profile' user.user.username %}">
          {{ user.user.username }}
          </a>
        </h4>
      </div>
          <a href="{% url 'friend_page_request' user.user.pk %}">
            Add to friends
          </a>
          <a href="{% url 'friend_page_request_auto' user.user.pk %}">
            Auto friend
          </a>
    </div>
  {% endfor %}
  </div>
{% endblock %}
